{% extends "blog/base.html" %}

{% block content %}

<h1>About</h1>
<p>I'm <b style="font-family: 'Pacifico', cursive">Mi</b>chelle <b style="font-family: 'Pacifico', cursive">Ra</b>scati, hence the <b style="font-family: 'Pacifico', cursive">MiRa</b> pseudonym.</p>
<p>Born and raised in Austin, TX, I went to the University of Texas
    for BS degrees in Astronomy and Physics.  My research involved 
    analyzing telescope data of astronomical objects.  If you'd like to learn
    more about that, <a href="http://iopscience.iop.org/0004-637X/770/2/123">check out our paper</a>
    or <a href="{% url 'contact' %}">contact me</a>.</p>
<p>As I picked up some programming skills for my research, I decided I'd like
    to pursue some kind of coding full time (with the bonus of being more practical than becoming an astronomer).
    I stayed in Austin for a while, navigating my way around SQL and relational databases.
    Once I moved to Seattle with my now fiance, I went all in and completed a Python
    bootcamp at Code Fellows. Since then, I've been freelancing for some start-ups around
    the PNW.</p>
<p>If I'm not sitting at a desk, you'll likely find me flailing at a bouldering gym,
    stretching my legs in yoga, soaking up what little rays we get in Seattle, or searching
    for some good grub.
</p>

{% endblock %}