.page-header {
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 0px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #2faba3;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    margin-top: 0;
}

.page-header p, .page-header p:hover {
    color: #2faba3;
    font-size: 28pt;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    margin-right: 40px;
    margin-top: 20px;
}

.sub-header {
    background-color: #2faba3;
    margin-top: 0;
    padding: 25px 20px 20px 20px;
}

.sub-header p {
    text-align: center;
    margin-bottom: 0;
}

.sub-header a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 10px 10px 10px;

}


.sub-header a:hover {
    text-decoration: none;
    color: #2faba3;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}


.content {
    margin: 0px 20px 0px 20px;
}

h1, h2, h3, h4 {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #2faba3;
}

.date {
    float: right;
    color: #828282;
    font-family: 'Amatic SC', cursive;
    font-size: 16pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    font-family: 'Pacifico', cursive;
    color: #263c47;
    font-size: 16px;
    float: right;
    margin-right: 20px;
}

.top-menu:hover {
    color: #2faba3;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #263c47;
}

.post h1 a, .post h1 a:visited {
    color: #2faba3;
}

.post h1 a:hover {
    color: #263c47;
}

.edit, .delete {
    margin-left: 20px;
    float: right;
}

.btn-default {
    font-family: 'Josefin Sans', sans-serif;
    /*font-weight: 700;*/
}

p {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: #2faba3;
    font-weight: bold;
}

a:hover {
    color: #263c47;
    text-decoration: none;
}
